@charset "UTF-8";

table{
  border-collapse:collapse;
  border-spacing: 5px;
  width: 200px;
  border: 1px #67c5ff solid;
}

.container {
  font-family: "Yu Gothic", YuGothic, Verdana, 'Hiragino Kaku Gothic ProN','Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, sans-serif;
}

/**********************************************/
.display {
  display: inline-block;
  padding: 0;
  text-decoration: none;
  color: #67c5ff;
  transition: .4s;
  width:50px;
  height:25px;
  font-size:40px;
}
.btn-flat-border {
  display: inline-block;
  padding: 0;
  text-decoration: none;
  color: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
  width:50px;
  height:50px;
  border-style: solid;
  font-size:20px;
}

.btn-flat-border:hover {
  background: #67c5ff;
  color: white;
}
.btn-flat-border2 {
  display: inline-block;
  padding: 0;
  text-decoration: none;
  color: white;
  background: #67c5ff;
  border: solid 2px #67c5ff;
  border-radius: 3px;
  transition: .4s;
  width:50px;
  height:50px;
  border-style: solid;
  font-size:20px;
}

.btn-flat-border2:hover {
	background: #fff;
	color: #67c5ff;
}